* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: aliceblue;
  min-height: 100vh;
}
main {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
}
a {
  color: aliceblue;
  font-size: 1.3rem;
  padding-right: 5px;
}
.page-name {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.about-page {
  display: block;
  background-image: linear-gradient(to top, #060606, #181818);
  padding: 2rem 4rem;
}

.navbar {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  text-align: center;
  background-color: #181818;

  transition: 0.5s all ease;
}

.navbar-links {
  padding: 0;
  margin: 0;
  display: none;
}

.navbar-links li {
  list-style: none;
}
.navbar-links a {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  height: 3rem;
  color: aliceblue;
  transition: 0.5s all ease;
}
.navbar-links a:hover {
  background-color: #999;
  color: #181818;
}

#mobile-dropdown-checkbox {
  display: none;
}
#mobile-dropdown-checkbox:checked ~ .navbar-links {
  display: flex;
  flex-flow: column;
}
.mobile-dropdown {
  display: block;
  padding: 10px;
  font-size: 1.5rem;
}
.mobile-dropdown:hover {
  background-color: #999;
  color: #181818;
}
header {
  display: flex;
  justify-content: center;
}
img {
  height: 25vw;
}
h1,
h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
p,
article {
  font-size: 0.7rem;
}
p {
  margin-top: 0;
  margin-bottom: 3em;
  color: #bb2030;
}
article {
  color: #bbb;
  padding-bottom: 1rem;
}
section {
  padding: 4rem 4rem;
  width: 100%;
}
.main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #181818;
}
.main-content img {
  margin: 2rem;
  width: 70%;
  height: auto;
}

.news {
  padding: 4rem 20%;
}
.news-grid div {
  padding: 10px;
  background-color: #060606;
  border-radius: 7px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.news-grid div:hover {
  transform: scale(1.1);
}
.social {
  background-color: #181818;
}

.video {
  padding: 4rem 20%;
}
.video video {
  width: 60vw;
}
.gallery {
  background-image: linear-gradient(to top, #060606, #181818);

  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 0;
}
.gallery h1 {
  padding: 4rem 9rem;
  padding-bottom: 0;
}
.photo-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 2rem;
}
.photo-block img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.photo-block img:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  padding: 1rem;
  background: black;
}
footer p {
  color: #bbb;
  padding: 0;
  margin: 0;
}

table {
  display: block;
  width: 80vw;
  padding: 1rem;
  background-color: #181818;

  font-size: 1.5rem;
}

thead,
tbody,
tr,
th,
td {
  display: block;
  width: 100%;
}
th {
  border-bottom: #181818 5px solid;
  margin-bottom: 2rem;
}
td {
  padding: 1rem;
}

.prices {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.about {
  background-image: linear-gradient(#060606, #181818, #060606);
}
.card {
  border-radius: 7px;
  background-image: linear-gradient(to top left, #060606, #181818);
  box-shadow: 5px 5px 7px 7px black;
}
.contact-info {
  margin: 4rem;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .mobile-dropdown {
    display: none;
  }
  .navbar {
    flex-flow: row;
    justify-content: space-between;
  }
  .navbar-links {
    display: flex;
    align-items: center;
    line-height: 30px;
  }
  .main-content {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10vw;
  }
  .main-content img {
    margin: 0;
    width: 70%;
    height: auto;
  }
  .section-text {
    margin-left: 5rem;
  }
  .news-grid {
    display: grid;
    grid-auto-flow: column;
    gap: 2vw;
  }
  .social {
    padding-left: 9rem;
  }
  table {
    max-width: 600px;
  }
}
